/* Glow line effect */
.lightEffect {
  height: 0.1px; /* make it visible */
  background: #ffffff;
  box-shadow:
    0 -10px 20px 6px #fff,              /* white glow upwards */
    0 -25px 70px 25px #ffffff,          /* purple glow upwards */
    0 -80px 200px 80px rgba(255, 255, 255, 0.6); /* soft far glow upwards */
  width: 65%;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  border-radius: 20%;
}


/* CTA Button Styling */
.ctaButton {
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.ctaButton:hover {
  transform: translateY(-4px);
  background-color: #111;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
  .lightEffect {
    width: 90%;
  }
}
