/* Glow line effect */
.lightEffect {
  height: 2px;
  background: #ffffff;
  box-shadow:
    0 0 20px 6px #fff,
    0 0 70px 25px #4e00ff,
    0 0 200px 80px rgba(78, 0, 255, 0.6);
  width: 65%;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  transform: scaleY(5);
  border-radius: 20%;

}

/* CTA Button Styling */
.ctaButton {
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.ctaButton:hover {
  transform: translateY(-4px);
  background-color: #111;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
  .lightEffect {
    width: 90%;
  }
}
